/* Space out content a bit */
body {
  padding-top: 20px;
  /*background-color: #DDB99A;*/
  background: url('../images/bg01.png') repeat scroll 0% 0% #DDB99A;
  /*margin-bottom: 60px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.cuerpo,
{
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.header h4 {
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;

}

/* Custom page footer */
.footer {
  /*position: relative;
  bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #0F1523;
  color: #fff;

  /*border-top: 1px solid #e5e5e5;*/
}

.footer a {
  color: #fff;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

img#avatar {
  max-width: 220px;
  padding-left: 100px;
  display: block;
  margin: auto;
}

/* Supporting marketing content */
.cuerpo {
  margin: 10px 0;
}

li.social-li {
  float: left;

}

li.social-li a {
  width: 35px;
  height: 35px;
}
li.social-li a.linkedin {
  background: url('../images/Linkedin.png') no-repeat scroll center /75% transparent;
}

li.social-li a.twitter {
  background: url('../images/Twitter-Bird.png') no-repeat scroll center /75% transparent;

}
li.social-li a.github {
  background: url('../images/Github.png') no-repeat scroll center /75% transparent;
}

.cuerpo p {
  text-align: center;
  margin-top: 30px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .cuerpo
  {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .footer .container p {
    margin-top: 15px;
  }
}
