<div class="header">
    <ul class="nav  pull-right">
        {% if site.github_username %}
        	<li class="social-li"><a alt="Perfil en Github" href="https://github.com/{{site.github_username}}"><img src="../images/Github.png" alt="Github" /></a></li>
        {% endif %}
        {% if site.linkedin_username %}	
        	<li class="social-li"><a alt="Perfil en Linkedin" href="http://ve.linkedin.com/in/{{site.linkedin_username}}"><img src="../images/Linkedin.png" alt="Linkedin" /></a></li>
        {% endif %}
        {% if site.twitter_username %}
            <li class="social-li"><a alt="Perfil en Twitter" href="https://twitter.com/{{site.twitter_username}}"><img src="../images/Twitter-Bird.png" alt="Twitter" /></a></li>
        {% endif %}

    </ul>
    <!-- <img src="../images/fotocv.jpg" id="avatar" alt="Perfil" class="img-rounded"> -->
    <a class="site-title" alt="Inicio" href="{{"/atilio" | prepend: site.baseurl }}/">
        <img src="http://www.gravatar.com/avatar/{{site.gravatar}}?s=200" id="avatar" alt="Perfil" class="img-rounded"/>
    </a>    
    <h3 class="text-muted">{{site.fullname}}</h3>
    <h4 class="text-muted">{{site.job}} - {{site.location}} </h3>
</div>